# Игнорируем виртуальное окружение
.venv/

# Игнорируем файлы и папки, создаваемые IDE
__pycache__/
*.pyc
*.pyo
*.pyd
.idea/
*.vscode/

# Игнорируем файлы конфигурации
*.env

# Игнорируем временные файлы
*.log